/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB       &kp Q  &kp W  &kp E         &kp R             &kp T        &kp Y    &kp U  &kp I          &kp O    &kp P     &kp BSPC
&kp CLCK  &kp A  &kp S  &kp D         &kp F             &kp G        &kp H    &kp J  &kp K          &kp L    &kp SEMI  &kp SQT
&kp LSHFT     &kp Z  &kp X  &kp C         &kp V             &kp B        &kp N    &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                            &kp LEFT_GUI  &kp LEFT_CONTROL  &kp SPACE    &kp RET  &sl 1  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp N1     &kp N2     &kp N3                &kp N4  &kp N5              &kp N6             &kp N7      &kp N8    &kp N9    &kp N0     &kp BSPC
&kp GRAVE  &kp MINUS  &kp PLUS   &kp NON_US_BACKSLASH  &trans  &kp LPAR            &kp RPAR           &kp K_LOCK  &kp LEFT  &kp UP    &kp RIGHT  &kp DEL
&kp LSHFT  &kp UNDER  &kp EQUAL  &kp PIPE              &trans  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp HOME    &kp END   &kp DOWN  &kp INS    &kp ESCAPE
                                 &kp LGUI              &sl 2   &kp SPACE           &kp RET            &sl 0       &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH          &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp KP_MULTIPLY  &kp BSPC
&kp LCTRL  &trans    &trans  &trans            &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT              &kp RBKT               &kp BSLH         &kp GRAVE
&kp LSHFT  &trans    &trans  &trans            &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC              &kp RBRC               &kp PIPE         &kp TILDE
                             &kp LEFT_CONTROL  &sl 3     &kp SPACE    &kp RET    &sl 0      &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &bt BT_SEL 2  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans  &bt BT_CLR
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &bt BT_SEL 3  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans  &bt BT_SEL 0
&trans  &trans  &trans  &trans   &trans   &trans     &bt BT_SEL 4  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans  &bt BT_SEL 1
                        &sl 0    &trans   &trans     &kp KP_ENTER  &kp KP_NUMBER_0  &kp KP_DOT
            >;
        };
    };
};
